/*Global style*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

/*Main wrapper holding all items*/
.container{
  display: flex;
  height: 100%;
  min-height: 100%;
  gap: 64px;
}

/* Navbar CSS */
.nav-menu {
  display: flex;
  width: 10%;
  min-width: 300px;
  top: 80px;
  left: 0;
  background: #edeeee;;
  padding-top: 60px;
  align-items: stretch;
}

span {
  margin-left: 16px;
}

.nav-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
  margin-top: 20px;
}

.nav-text a {
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  font-size: 30px;
  width: 380px; 
  padding: 8px;
  border-radius: 4px;
  background-color: #447D41;
  margin-right: 10px;
  display: inline-block;
}



.nav-below {
  position: fixed;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px ;
  list-style: none;
  height: 1000px; 
}


.nav-below_ {
  position: fixed;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 16px;
  list-style: none;
  height: 1200px; /* Adjust the height as needed */
 
}




.nav-below_ a {
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  font-size: 30px;
  width: 270px; 
  padding: 8px;
  border-radius: 4px;
  background-color: #447D41;
  margin-right: 10px;
  display: inline-block;
}

.nav-below a {
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  font-size: 30px;
  width: 280px; 
  padding: 8px;
  border-radius: 4px;
  background-color: #447D41;
  margin-right: 10px;
  display: inline-block;
}








.nav-item{
  justify-content: flex-start;
}

.nav-text a:hover{
  background-color: #ffffff;
  color: #E6774A;
}

.activeTab a {
  background-color: #ffffff;
  color: #E6774A;
}

.nav-menu-items {
  width: 100%;
}
